body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    margin: 0px;
    text-align: center;
}

/* style for header */
header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: #ffffff;
    padding: 3vh;
}

/* style for main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* highscore board styles */
.highscore-class {
    display: block;
    color: skyblue;
    background-color: white;
    border-radius: 5px;
}

.highscore-class:hover {
    background-color: lightblue;
    color: white;
}

.highscore-list {
    padding-inline-start: 20px;
}

/* timer  */
time {
    font-size: 20px;
    float: right;
}

/* style for all buttons on page */
.button {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    background-color: blue;
    padding: 2vh;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.button:hover {
    background-color: skyblue;
}

/* h1 and p tags styles */
h1 {
    font-size: 30px;
}

p {
    font-size: 24px;
}
  
.inline-buttons {
    display: inline-flex;
}

/* for the prompt of questions */
.card {
    max-width: 75%;
    margin-top: 15vh;
    border: solid;
    border-width: 2px;
    padding: 5vw;
    border-radius: 30px;
    border-color: blue;
}

/* for 1st screen */
#start-screen {
    display: inline;
    text-align: center;
}

/* for options on the buttons */
.option-button {
    width: 100%;
    text-align: left;
    margin: 5px;
}

/* so results div dont appear on screen */
#result-div {
    display: none;
}
  
/* user input field style  */
.inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#initials {
    width: 25%;
    margin: 8px;
    padding: 1vh;
}

/* for the back button  */
#back-button {
    margin-right: 10px;
}
  